#navbar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav-link:hover {
  background-color: white;
}
#navbar .nav-link {
  padding: 16px 18px 16px 18px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block;
} 
.nava {
  margin-left: 160px;
  padding: 0px 10px;
  color: azure;
}

#main-doc {
  margin-left: 160px;
  padding: 0px 10px;
  text-align: center;
  background-color: white;
  opacity: 0.65;
  border-radius: 15px;
}
.full {
  background-image: url(803426.jpg);
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  text-decoration: underline;
}

ol {
  list-style: none;
}

@media (min-width: 450px) {
  #navbar {
    padding-top: 15px;
  }
  #navbar .nav-link {
    font-size: 18px;
  }
}
